:root{
    --primary: #1D1D1F;
    --secondary: #858786;
    --erro: #FF5757;
    text-align: center;
    margin: 0;
    background-color: #F5F8FA;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  }

  .column {
    border-style: solid;
    justify-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 100vh;
    justify-content: center;
  }


  .column img{
    width: 100%;
    height: 100vh;
    object-position: center;
    object-fit:cover;
  }

 .main-container{
    height: 100vh;
    position: fixed;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 33.3333333% 33.3333333% 33.333333%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
  }

  /* Clear floats after the columns */
  .main-container:after {
    content: "";
    display: table;
    clear: both;
  }

  .center-cropped img {
    border-radius: 2px;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit:cover;
  }

  .option-container{
    grid-column: 1;
    margin-top: 40%;
    width: 100%;
    height: 100%;        
}

.column h1{
  font-family: 'uncracked';
  font-size: 3rem;
  font-weight: 400;
  color: #1d1d1d;
}


.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  .column .userImage{
    margin-top: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

.option{    
    border-radius: 7px;
    border-width: 0px;
    margin: 10px;
    padding: 10px;
    width: 50%;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    color: #1D1D1D;
    background-color:white;
}

.option:hover{
    background-color: #177244;
    color: white;
}

  .title h1 {
    font-size: 4rem;
    font-weight: 400;
    padding: 10px;
    color: #1d1d1d;
  }
  
  .title h2{
    font-size: 1.5rem;
    font-weight: 400;
    color: #1D1D1D;
  }
  
  h2{
    font-size: 3rem;
    font-weight: 300;
    color: #1D1D1D;
  }

  .question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: #c7dddf;
    font-size: x-large;
    text-align: center;
      
}

.navigation{
  margin-top: 50px;
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    background: none;
 
}

.navigation button{
  color: #F5F8FA;
  padding: 15px;
  background-color: #1c1c1c;
  font-weight: 600;
  font-size: 1.0rem;
  border-radius: 40px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-left: 32%;
}

.splash{
  width: 100%;
  height: 100vh;
  margin: 0px;
  cursor: pointer;
  transition: all ease-in-out 600ms;
}

.splash h1{
  font-size: 15rem;
  font-family: 'uncracked';
  color: #1D1D1D;
}


.wrapper{
  width: 100%;
  height: auto;
  margin: 0px;
  padding-top: 10px;
  transition: all ease-in-out 600ms;
  margin-bottom: 100px;
}

.wrapper h1{
  font-size: 15rem;
  font-family: 'uncracked';
  color: #1D1D1D;
}

.wrapper h2{
  font-size: 3rem;
  font-family: 'uncracked';
  color: #1D1D1D;
}

.btnCredits{
  cursor: pointer;
  color: #F5F8FA;
  margin: 20px;
  font-size: 1.5rem;
  border-radius: 40px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #1c1c1c;
  transition: #1c1c1c 0.05s linear;
  transition: all .05s linear;
}

.username-title {
  padding-top: 40%;
  font-size: 5rem;
  font-family: 'uncracked';
  color: #1D1D1D;
}


.usernameInputWrapper{
  padding-top: 10%;
  font-size: 5rem;
  font-family: 'uncracked';
  color: #1D1D1D;
}

.usernameInputWrapper input{
  height: 50px;
  width: 500px;
  margin-bottom: 100px;
  box-shadow: #1c1c1c;
  font-size: 2.5rem;
  text-align: center;
}

@font-face {
  font-family: 'uncracked'; /*a name to be used later*/
  src: url('fonts/Uncracked.otf'); /*URL to font*/
}

.splash-buttons button{
  color: #F5F8FA;
  padding: 15px;
  margin: 20px;
  font-size: 1.5rem;
  border-radius: 40px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.btnNext{
  font-weight: bold;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #1c1c1c;
  transition: #1c1c1c 0.05s linear;
  transition: all .05s linear;
}

.splash-buttons .btnContinue{
  font-weight: bold;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #1c1c1c;
  transition: #1c1c1c 0.05s linear;
  transition: all .05s linear;
}

.splash-buttons .btnHowTo{
  background-color: #fff;
  color: #1c1c1c;
}

.splash-buttons .btnContinue:active {
  box-shadow: 2px 2px 2px #777;
  border-bottom: 1px solid #1c1c1c;
  transform: translateY(3px);
}


  