:root{
    --primary: #1D1D1F;
    --secondary: #858786;
    --erro: #FF5757;
    text-align: center;
    margin: 0;
    background-color: #F5F8FA;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  }

  .column {
    justify-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    justify-content: center;
  }

  .column img{
    width: 100%;
    height: 100vh;
    object-position: center;
    object-fit:cover;
  }

 .main-container{
    height: 100vh;
    position: fixed;
    width: 100%;
    overflow: hidden;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
  }

  /* Clear floats after the columns */
  .main-container:after {
    content: "";
    display: table;
    clear: both;
  }

  .center-cropped img {
    border-radius: 2px;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit:cover;
  }

  .option-container{
    margin-top: 50%;
    margin-bottom: 50%;
    grid-column: 1;
    margin: 10px;
    padding: 5px;
    width: 100%;
    height: auto;
        
}


.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

.option{    
    border-radius: 7px;
    border-width: 0px;
    margin: 10px;
    padding: 10px;
    width: 50%;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    color: #1D1D1D;
    background-color:white;
}

.option:hover{
    background-color: #e1e8ed;
}

  .title h1 {
    font-size: 4rem;
    font-weight: 400;
    padding: 10px;
    color: #1d1d1d;
  }
  
  .title h2{
    font-size: 1.5rem;
    font-weight: 400;
    color: #1D1D1D;
  }
  
  h2{
    font-size: 3rem;
    font-weight: 300;
    color: #1D1D1D;
  }

  .question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: #c7dddf;
    font-size: x-large;
    text-align: center;
      
}

.navigation{
  margin-top: 50px;
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    background: none;
 
}

.navigation button{
  color: #F5F8FA;
  padding: 15px;
  background-color: #1c1c1c;
  font-weight: 600;
  font-size: 1.0rem;
  border-radius: 40px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-left: 32%;
}

.splash{
  width: 100%;
  height: 100vh;
  margin: 0px;
  cursor: pointer;
  transition: all ease-in-out 600ms;
}

.splash h1{
  font-size: 15rem;
  font-family: 'uncracked';
  color: #1D1D1D;
}


.wrapper{
  width: 100%;
  height: auto;
  margin: 0px;
  padding-top: 10px;
  cursor: pointer;
  transition: all ease-in-out 600ms;
  margin-bottom: 100px;
}

.wrapper h1{
  font-size: 15rem;
  font-family: 'uncracked';
  color: #1D1D1D;
}

.wrapper h2{
  font-size: 3rem;
  font-family: 'uncracked';
  color: #1D1D1D;
}

.username-title {
  padding-top: 40%;
  font-size: 5rem;
  font-family: 'uncracked';
  color: #1D1D1D;
}


.usernameInputWrapper{
  padding-top: 10%;
  font-size: 5rem;
  font-family: 'uncracked';
  color: #1D1D1D;
}

.usernameInputWrapper input{
  height: 50px;
  width: 500px;
  margin-bottom: 100px;
  box-shadow: #1c1c1c;
  font-size: 2.5rem;
  text-align: center;
}

@font-face {
  font-family: 'uncracked'; /*a name to be used later*/
  src: url('fonts/Uncracked.otf'); /*URL to font*/
}

.splash-buttons button{
  color: #F5F8FA;
  padding: 15px;
  margin: 20px;
  font-size: 1.5rem;
  border-radius: 40px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.btnNext{
  font-weight: bold;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #1c1c1c;
  transition: #1c1c1c 0.05s linear;
  transition: all .05s linear;
}

.splash-buttons .btnContinue{
  font-weight: bold;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #1c1c1c;
  transition: #1c1c1c 0.05s linear;
  transition: all .05s linear;
}

.splash-buttons .btnHowTo{
  background-color: #fff;
  color: #1c1c1c;
}

.splash-buttons .btnContinue:active {
  box-shadow: 2px 2px 2px #777;
  border-bottom: 1px solid #1c1c1c;
  transform: translateY(3px);
}

/* Progress Css*/

.circular{
  height:120px;
  width: 120px;
  position: relative;
  transform:scale(2);
}
.circular .inner{
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: #dde6f0;
  border-radius: 100%;
 
}
.circular .number{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:10;
  font-size:18px;
  font-weight:500;
  color:#4158d0;
}

.circular .bar{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  clip: rect(0px, 120px, 120px, 60px);
}
.circle .bar .progress{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 60px, 120px, 0);
  background: #FF6600;
}
.circle .left .progress{
  z-index:1;
  animation: left 4s linear both;
}
@keyframes left{
  100%{
    transform: rotate(180deg);
  }
}
.circle .right {
  transform: rotate(180deg);
  z-index:3;
 
}
.circle .right .progress{
  animation: right 4s linear both;
  animation-delay:4s;
}
@keyframes right{
  100%{
    transform: rotate(180deg);
  }
}

  